@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

html {
  font-size: 89.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: auto;
}

html::-webkit-scrollbar-track {
  background:  #fff;

}

html::-webkit-scrollbar-thumb {
  background: #7744AA;
  border-radius: 5rem;
}

header {
  background: linear-gradient(to right, #3494e6, #ec6ead);
}

nav {
  box-shadow: 0px 15px 10px -15px #111;
  z-index: 1;
}

.dropdown-menu {
	background-color: #C58CFF !important;
}

.dropdown-menu a{
	color: white !important;
	text-align: center;
}

.dropdown-menu a:hover{
	color: black !important;
}

.carousel-inner{
  height: 100%;
  object-fit: cover;
}


#text{
  text-align: center;
  text-transform: uppercase;
  color: #7744AA;
  font-weight: bold;
}

.product-section{
    width: 100%;
    background: url(productimages/shirt/123.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 3em;
    padding-bottom: 3em;
}

#prods{
    padding-left: 1px;
    padding-right: 1px;
}
.product-grid{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 25px;
}
.product-grid .product-image{
    overflow: hidden;
    position: relative;
}
.product-grid .product-image a.image{ display: block; }
.product-grid .product-image img{
    width: 100%;
    height: auto;
}
.product-grid .product-image:hover .pic-1{
    opacity: 0;
    transition: all 0.5s ease 0s;
}
.product-image .pic-2{
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease 0s;
}
.product-grid .product-image:hover .pic-2{ opacity: 1; }
.product-grid .product-new-label,
.product-grid .product-sale-label{
    color: #fff;
    background: #3494e6;
    font-size: 13px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    width: 50px;
    height: 20px;
    padding: 1px 0 0 10px;
    transform: rotate(-90deg);
    position: absolute;
    top: 15px;
    right: -11px;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 20% 50%, 0 0);
}
.product-grid .product-sale-label{
    background: #ec6ead;
    right: 12px;
}
.product-grid .product-sale-label.sale{ right: -11px; }
.product-grid .product-links{
    font-size: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    bottom: 0;
    left: 0;
}
.product-grid .product-links li{
    background-color: rgba(250,250,250,0.9);
    width: 40px;
    display: inline-block;
    opacity: 0;
    transition: all 0.3s ease 0s;
}
.product-grid .product-links li:first-child{
    background-color: rgba(119, 68, 170, 0.8);
    width: calc(100% - 40px);
}
.product-grid .product-image:hover .product-links li{ opacity: 1; }
.product-grid .product-links li a{
    color: #555;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 41px;
    height: 40px;
    display: block;
    transition: all 0.3s ease 0s;
}
.product-grid .product-links li:first-child a{
    color: #fff;
    background: transparent;
    transform: translateY(20px);
}
.product-grid .product-image:hover .product-links li:first-child a{ transform: translateY(0); }
.product-grid .product-links li:first-child a:hover{
    color: #fff;
    letter-spacing: 2px;
}
.product-grid .product-links li a:hover{ color: #000; }
.product-grid .product-content{
    background-color: #fff;
    text-align:  left;
    padding: 15px 0 0;
    position: relative;
}
.product-grid .product-like-icon{
    color: #555;
    background: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    width: 36px;
    height: 36px;
    border-radius: 50px;
    box-shadow: 3px 5px 22px -7px rgba(1, 1, 1, 0.25);
    position: absolute;
    top: 14px;
    right: 5px;
    transition: all 0.3s ease 0s;
}
.product-grid .product-like-icon:hover{
    color: #555;
    box-shadow: 3px 5px 22px -7px rgba(1, 1, 1, 0.25) inset;
}
.product-grid .title{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    margin: 0 0 8px;
}
.product-grid .title a{
    color: #333;
    transition: all 0.3s ease 0s;
}
.product-grid .title a:hover{
    color: #333;
    text-shadow: 3px 3px 0 rgba(0,0,0,0.3);
}
.product-grid .price{
  text-align: center;
    color: #333;
    font-size: 15px;
    font-weight: 600;
}
.product-grid .price span{
  text-align: center;
    color: #999;
    text-decoration: line-through;
    margin: 0 5px 0 0;
    display: inline-block;
}
@media screen and (max-width:990px){
    .product-grid{ margin: 0 0 30px; }
}

/* Footer */
img {
    max-width: 100%;
    height: auto;
  }
  
  section {
    padding: 60px 0;
    /* min-height: 100vh;*/
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .contact-area {
    border-bottom: 1px solid rgb(219, 211, 211);
  }
  
  .contact-content p {
    font-size: 15px;
    margin: 30px 0 60px;
    position: relative;
  }
  
  .contact-content p::after {
    background: rgb(219, 211, 211);
    bottom: -30px;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 80%;
  }
  
  .contact-content h6 {
    color: white;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  
  .contact-content span {
    color: white;
    margin: 0 10px;
  }
  
  .contact-social {
    margin-top: 30px;
  }
  
  .contact-social>ul {
    display: inline-flex;
  }
  
  .contact-social ul li a {
    border: 1px solid white;
    color: white;
    display: inline-block;
    height: 40px;
    margin: 0 7px;
    padding-top: 7px;
    transition: all 0.2s ease 0s;
    width: 40px;
    justify-content: center;
  }
  
  .contact-social ul li a:hover {
    border: 2px solid #7744AA;
    color: #74a;
  }
  
  .contact-content img {
    max-width: 300px;
  }
  
  section,footer {
    background: linear-gradient(to right, #3494e6, #ec6ead);
    color: white;
  }
  
  footer p {
    padding: 40px 0;
    text-align: center;
    margin-bottom: 0rem;
  }
  
  footer img {
    width: 100px;
  }